Source: scibian-hpc-meta
Section: scibian
Priority: optional
Maintainer: Scibian Project <packaging@scibian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/scibian/scibian-hpc-meta.git
Vcs-Browser: https://github.com/scibian/scibian-hpc-meta

Package: scibian-hpc-base
Architecture: all
Description: System packages for Scibian HPC clusters environments
 This metapackage provides all system packages required in all environments of
 a Scibian HPC cluster.
Depends:
 ${misc:Depends},
 bash-completion,
 bind9-host,
 binfmt-support,
 dnsutils,
 gawk,
 git,
 less,
 libnss-sss,
 libpam-modules,
 libpam-sss,
 libpam-systemd,
 locales,
 lsb-release,
 lsof,
 netcat-traditional,
 strace,
 sysstat,
 systemd-sysv,

Package: scibian-hpc-node
Architecture: all
Description: System packages for Scibian HPC clusters nodes
 This metapackage provides all system packages required on all nodes (either
 virtual or physical) of a Scibian HPC cluster.
Depends:
 ${misc:Depends},
 scibian-hpc-base (= ${source:Version}),
 acpi-support-base,
 collectd,
 console-setup,
 cpufrequtils,
 dmidecode,
 ethtool,
 finger,
 firmware-linux-nonfree,
 htop,
 ifenslave-2.6,
 ipmitool,
 keyboard-configuration,
 linux-image-amd64,
 mcelog,
 ntp,
 ntpdate,
 pciutils,
 pm-utils,
 puppet,
 pstack,
 quota,
 rsync,
 rsyslog,
 rsyslog-relp,
 ssh,
 sssd,
 tcpdump

Package: scibian-hpc-libs
Architecture: all
Description: Libraries for Scibian HPC clusters
 This metapackage provides all software libraries required by scientific
 programs on all Scibian HPC clusters.
Depends:
 ${misc:Depends},
 coinor-libclp1,
 libargtable2-0,
 libatlas3-base,
 libblacs-openmpi1,
 libboost-date-time1.62.0,
 libboost-filesystem1.62.0,
 libboost-graph1.62.0,
 libboost-math1.62.0,
 libboost-mpi1.62.0,
 libboost-mpi-python1.62.0,
 libboost-program-options1.62.0,
 libboost-python1.62.0,
 libboost-regex1.62.0,
 libboost-serialization1.62.0,
 libboost-signals1.62.0,
 libboost-system1.62.0,
 libboost-test1.62.0,
 libboost-thread1.62.0,
 libboost-timer1.62.0,
 libboost-wave1.62.0,
 libboost-log1.62.0,
 libcgns3.3,
 libcppunit-1.13-0v5,
 libfreeimage3,
 libftgl2,
 libgfortran3,
 libgl2ps1,
 libglapi-mesa,
 libglu1-mesa,
 libgsl2,
 libhdf5-100,
 libhdf5-openmpi-100,
 libhwloc5,
 libltdl7,
 libmatheval1,
 libnetcdf11,
 libopenblas-base,
 libopenmpi2,
 libpthread-workqueue0,
 libqscintilla2-12v5,
 libqt5dbus5,
 libqt5designer5,
 libqt5help5,
 libqt5network5,
 libqt5opengl5,
 libqt5scripttools5,
 libqt5sql5,
 libqt5sql5-mysql,
 libqt5svg5,
 libqt5test5,
 libqt5xml5,
 libqt5xmlpatterns5,
 libqt5core5a,
 libqt5gui5,
 libqwt6abi1,
 libqwtmathml6abi1,
 libscalapack-openmpi1,
 libtbb2,
 libtool

Package: scibian-hpc-devel
Architecture: all
Description: Development headers for Scibian HPC clusters
 This metapackage provides all devel packages required to compile scientific
 programs on all Scibian HPC clusters.
Depends:
 ${misc:Depends},
 autotools-dev,
 coinor-libclp-dev,
 comerr-dev,
 graphviz-dev,
 libblacs-mpi-dev,
 libargtable2-dev,
 libboost-date-time-dev,
 libboost-filesystem-dev,
 libboost-graph-dev,
 libboost-log-dev,
 libboost-math-dev,
 libboost-mpi-dev,
 libboost-mpi-python-dev,
 libboost-program-options-dev,
 libboost-python-dev,
 libboost-regex-dev,
 libboost-serialization-dev,
 libboost-signals-dev,
 libboost-system-dev,
 libboost-test-dev,
 libboost-thread-dev,
 libboost-timer-dev,
 libboost-wave-dev,
 libcgns-dev,
 libcppunit-dev,
 libcupti-dev,
 libeigen3-dev,
 libfreeimage-dev,
 libftgl-dev,
 libgfortran-6-dev,
 libgl2ps-dev,
 libgl1-mesa-dev,
 libglu1-mesa-dev,
 libgmp-dev,
 libgsl0-dev,
 libhdf5-dev,
 libhdf5-openmpi-dev,
 libhpdf-dev,
 libhwloc-dev,
 libltdl-dev,
 libnetcdf-dev,
 libmatheval-dev,
 libode-dev,
 libopenbabel-dev,
 libopenblas-dev,
 libopenmpi-dev,
 libpcl1-dev,
 libpng-dev,
 libpthread-workqueue-dev,
 libqscintilla2-dev,
 libxi-dev,
 libxmu-dev,
 libqt5opengl5-dev,
 libqt5svg5-dev,
 libqt5xmlpatterns5-dev,
 libqwt-dev,
 libscalapack-mpi-dev,
 libsm-dev,
 libtbb-dev,
 python-dev,
 python-qt4-dev,
 qtbase5-dev,
 qtscript5-dev,
 r-base-dev

Package: scibian-hpc-doc
Architecture: all
Description: Documentations for Scibian HPC clusters
 This metapackage provides all documentations and examples to develop
 scientific programs on all Scibian HPC clusters.
Depends:
 ${misc:Depends},
 asciidoctor-doc,
 bash-doc,
 binutils-doc,
 bzip2-doc,
 cmake-doc,
 graphviz-doc,
 gcc-doc,
 gfortran-doc,
 glibc-doc,
 libargtable2-docs,
 libboost-doc,
 libboost-doc,
 libcppunit-doc,
 libeigen3-doc,
 libhwloc-doc,
 liblapack-doc,
 liblapack-doc-man,
 libopenbabel-doc,
 libqscintilla2-doc,
 libqwt-doc,
 libqwtplot3d-doc,
 libtbb-doc,
 man-db,
 manpages,
 manpages-dev,
 netcdf-doc,
 openmpi-doc,
 python3-doc,
 python-qt4-doc,
 python-qwt5-doc,
 r-base-html,
 scalapack-doc,
 slurm-wlm-doc,
 texlive-lang-french

Package: scibian-hpc-commons
Architecture: all
Description: User packages for Scibian HPC clusters
 This metapackage provides all user packages required in all user environments
 of all Scibian HPC clusters.
Depends:
 ${misc:Depends},
 scibian-hpc-base (= ${source:Version}),
 scibian-hpc-libs (= ${source:Version}),
 autoconf,
 automake,
 bison,
 cmake,
 csh,
 cython,
 lmod,
 flex,
 freefem++,
 g++,
 g++-multilib,
 gcc,
 gdb,
 gdbserver,
 gfortran,
 gfortran-multilib,
 hdf5-tools,
 hwloc-nox | hwloc,
 make,
 numactl,
 linux-tools,
 ltrace,
 openjdk-8-jdk,
 openmpi-bin,
 openmpi-common,
 python3,
 python3-dev,
 python3-mpi4py,
 python3-numpy,
 python3-psutil,
 python3-setuptools,
 python-chardet,
 python-imaging,
 python-mpi4py,
 python-numpy,
 python-pp,
 python-scipy,
 python-setuptools,
 python-yaml,
 tree,
 valgrind,

Package: scibian-hpc-gpgpu
Architecture: all
Description: Packages for Scibian HPC clusters GPGPU environments
 This metapackage provides all packages required in all user environments of
 all Scibian HPC clusters for using GPGPU.
Depends:
 ${misc:Depends},
 nvidia-smi,

Package: scibian-hpc-compute
Architecture: all
Description: System packages for Scibian HPC computes nodes
 This metapackage provides all system packages required on compute nodes of
 all Scibian HPC clusters.
Conflicts:
 scibian-hpc-frontend (<= ${source:Version}),
Depends:
 ${misc:Depends},
 scibian-hpc-commons (= ${source:Version}),
 scibian-hpc-node (= ${source:Version}),
 libpmi0,
 munge,
 slurm-client,
 slurm-llnl-generic-scripts-plugin,
 slurm-wlm-spank-plugin-oom-score-adj,
 slurm-wlm-spank-plugin-private-tmpdir,
 slurmd,
 warewulf-nhc

Package: scibian-hpc-frontend
Architecture: all
Description: Packages for Scibian HPC frontend nodes
 This metapackage provides all packages required on frontend nodes of
 all Scibian HPC clusters.
Conflicts:
 scibian-hpc-compute (<= ${source:Version}),
# all deps of -compute should be added here when irrelevant on frontend
 slurmd,
 libpam-slurm
Depends:
 ${misc:Depends},
 scibian-hpc-commons (= ${source:Version}),
 scibian-hpc-devel (= ${source:Version}),
 scibian-hpc-doc (= ${source:Version}),
 scibian-hpc-node (= ${source:Version}),
 asciidoctor,
 autopoint,
 avogadro,
 clang,
 clustershell,
 cmake-data,
 cmake-curses-gui,
 colorgcc,
 colormake,
 cvs,
 diffstat,
 doxygen,
 emacs24,
 emacs24-bin-common,
 emacs24-common,
 emacsen-common,
 evince,
 gedit,
 gitk,
 gnuplot,
 grace,
 graphviz,
 gv,
 gwenview,
 hpcstats-fsusage-agent,
 hpcstats-jobstats-agent,
 imagemagick,
 jube,
 kcachegrind,
 krb5-config,
 krb5-user,
 libpmi0,
 lftp,
 mayavi2,
 meld,
 mercurial,
 munge,
 nedit,
 neos,
 openbabel,
 openbabel-gui,
 povray,
 putty-tools,
 pyqt4-dev-tools,
 pylint,
 python-gnuplot,
 python-pyvtk,
 python-sphinx,
 python-vtk6,
 python-xlrd,
 qt4-dev-tools,
 quilt,
 screen,
 slurm-client,
 slurm-llnl-generic-scripts-plugin,
 subversion,
 sview,
 swig,
 swig3.0,
 texlive,
 texlive-lang-french,
 texlive-latex-extra,
 texlive-science,
 transfig,
 ui-auto,
 unclebench,
 vim-gtk,
 x11vnc,
 xauth,
 xpra

Package: scibian-hpc-container
Architecture: all
Description: Packages for Scibian HPC containers
 This metapackage provides all packages required in containers images
 of all Scibian HPC clusters.
Depends:
 ${misc:Depends},
 scibian-hpc-commons (= ${source:Version}),
 scibian-hpc-devel (= ${source:Version}),
 scibian-hpc-doc (= ${source:Version}),
 scibian-hpc-base (= ${source:Version}),

Package: scibian-hpc-graphical
Architecture: all
Description: Packages for Scibian HPC graphical nodes
 This metapackage provides all packages required on graphical nodes of
 all Scibian HPC clusters.
Depends:
 ${misc:Depends},
 scibian-hpc-compute (= ${source:Version}),
 scibian-hpc-gpgpu (= ${source:Version}),
 avogadro,
 cmake-curses-gui,
 emacs24,
 emacs24-bin-common,
 emacs24-common,
 emacsen-common,
 firefox-esr,
 freeglut3,
 krb5-config,
 krb5-user,
 libpcl1,
 libglew2.0:i386,
 libglu1-mesa:i386,
 mesa-utils,
 neos,
 neos-slurm-graphical-plugins,
 nvidia-driver,
 nvidia-kernel-amd64,
 python-vtk6,
 r-cran-lhs,
 r-cran-plotrix,
 r-cran-polspline,
 r-cran-truncnorm,
 virtualgl,
 x11vnc,
 xfce4,
 xfce4-screenshooter,
 xorg,
 xvfb

Package: scibian-hpc-service
Architecture: all
Description: Packages for Scibian HPC service nodes
 This metapackage provides all packages required on service nodes of
 all Scibian HPC clusters.
Depends:
 ${misc:Depends},
 scibian-hpc-node (= ${source:Version}),
 iotop,
 parted,
 vim,
 vim-puppet,
 vim-addon-manager

Package: scibian-hpc-admin
Architecture: all
Description: Packages for Scibian HPC admin nodes
 This metapackage provides all packages required on admin nodes of
 all Scibian HPC clusters.
Depends:
 ${misc:Depends},
 scibian-hpc-service (= ${source:Version}),
 devscripts,
 hiera-eyaml,
 hpc-config-push,
 libc6-dev,
 liblzma-dev,
 makepasswd,
 mtr-tiny,
 puppet-module-herculesteam-augeasproviders-pam,
 puppet-module-yo61-logrotate,
 puppet-module-puppet-archive,
 puppet-module-puppet-collectd,
 puppet-module-herculesteam-augeasproviders-core,
 puppet-module-arioch-keepalived,
 puppet-module-saz-rsyslog,
 puppet-module-puppetlabs-apache (>=1.10),
 puppet-module-puppetlabs-apt,
 puppet-module-puppetlabs-concat,
 puppet-module-puppetlabs-ntp,
 puppet-module-puppetlabs-stdlib,
 screen
